html,body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position:relative;
}
.img1{
    height:250px;
    width:250px;
    border-radius: 50%;
    background-image: url(th.png);
    background-size:cover;
    background-position:right;
    position:relative;
    bottom: 170px;
}

.img2{
    height:250px;
    width:250px;
    border-radius: 50%;
    background-image: url(bacc.jpeg);
    background-size:cover;
    background-position:center;
    position:relative;
    top:200px;  
}


.img::before,
.img::after
{ 
    --scale:0;
    position:absolute;
    top:-9px;
    left:50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 500ms transform;
    
}
.img::before{
    content:attr(data-tooltip);
    transform-origin: bottom;
    padding:10px;
    width: max-content;
    border-radius: 10%;
    max-width: 100%;
    background: peachpuff;
}
.img:hover::before,
.img:hover::after
{
    --scale: 1;
}
.img::after{
    content:'';
    border:8px solid transparent;
    border-color:peachpuff;
    border-bottom:3px solid transparent;
    border-right: 6px solid transparent;
    border-left:5px solid transparent;
    top:2px;
    transform-origin: top;
}